Repository techishthoughts-org/spring-web-flux-with-apache-pekko, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tech-lead, @senior-developer, @domain-expert, @business-analyst, @application-architect, @infrastructure-team, @devops-team, @adapter-specialist, @integration-expert, @configuration-manager, @qa-team, @test-engineer, @tech-writers, @documentation-team, @ci-cd-specialist, @github-actions-expert, @container-specialist, @kubernetes-team, @build-engineer, @dependency-manager, @security-team, @observability-team, @performance-engineer, @actor-system-expert, @pekko-specialist

fix: finalize markdown linting compliance
  README.md
Owners: @tech-writers

(docs): update README.md
  README.md
Owners: @tech-writers

docs: update repository URLs across all documentation
  docs/development/GETTING_STARTED.md
  docs/operations/DOCKER.md
Owners: @tech-writers

Implement ClickHouse observability integration
  README.md
  docker-compose.yml
  docs/DEPLOYMENT.md
  docs/GETTING_STARTED.md
  docs/MONITORING.md
  monitoring/clickhouse/config.xml
  monitoring/clickhouse/init.sql
  monitoring/grafana/provisioning/datasources/datasources.yml
  monitoring/otel-collector.yml
Owners: @tech-writers, @devops-team, @container-specialist, @tech-lead, @senior-developer

refactor: reusable ci cd
  .github/dependabot.yml
  .github/workflows/auto-delete-branch.yml
  .github/workflows/auto-tag.yml
  .github/workflows/ci.yml
  .github/workflows/dependabot-auto-merge.yml
  .github/workflows/pr.yml
Owners: @devops-team, @ci-cd-specialist, @github-actions-expert

refactor: dependabot
  .github/dependabot.yml
Owners: @devops-team, @ci-cd-specialist

refactor: missing configurations
  .github/workflows/auto-tag.yml
  .github/workflows/ci.yml
Owners: @devops-team, @github-actions-expert

refactor: reusable ci cd (#9)
  .github/dependabot.yml
  .github/workflows/auto-delete-branch.yml
  .github/workflows/auto-tag.yml
  .github/workflows/ci.yml
  .github/workflows/dependabot-auto-merge.yml
  .github/workflows/pr.yml
Owners: @devops-team, @ci-cd-specialist, @github-actions-expert

feat: update CI pipeline to use enhanced v2.0.0 workflow
  .github/workflows/ci.yml
Owners: @devops-team, @github-actions-expert

feat: update all workflows to use versioned tags for stability
  .github/workflows/auto-delete-branch.yml
  .github/workflows/auto-tag.yml
  .github/workflows/dependabot-auto-merge.yml
Owners: @devops-team, @github-actions-expert

fix: correct YAML indentation in auto-tag workflow
  .github/workflows/auto-tag.yml
Owners: @devops-team, @github-actions-expert

fix: add required permissions to CI workflow
  .github/workflows/ci.yml
Owners: @devops-team, @github-actions-expert

fix: add required permissions to all workflows
  .github/workflows/auto-delete-branch.yml
  .github/workflows/auto-tag.yml
  .github/workflows/dependabot-auto-merge.yml
Owners: @devops-team, @github-actions-expert

fix: update CI workflow to use v2.0.1 with JSON parsing fix
  .github/workflows/ci.yml
Owners: @devops-team, @github-actions-expert

fix: update CI workflow to use v2.0.2 with reliable JSON generation
  .github/workflows/ci.yml
Owners: @devops-team, @github-actions-expert

fix: update CI workflow to use v2.0.3 with updated GitHub Actions
  .github/workflows/ci.yml
Owners: @devops-team, @github-actions-expert

fix: update CI workflow to use v2.0.4 with cross-platform shell support
  .github/workflows/ci.yml
Owners: @devops-team, @github-actions-expert

feat: trigger all workflows on main branch activity
  .github/workflows/auto-delete-branch.yml
  .github/workflows/auto-tag.yml
  .github/workflows/dependabot-auto-merge.yml
Owners: @devops-team, @github-actions-expert

feat: implement smart workflow triggers for efficient CI/CD
  .github/workflows/auto-delete-branch.yml
  .github/workflows/auto-tag.yml
  .github/workflows/dependabot-auto-merge.yml
Owners: @devops-team, @github-actions-expert

feat: update auto-tag workflow to v2.0.5 with enhanced release notes
  .github/workflows/auto-tag.yml
Owners: @devops-team, @github-actions-expert

.github/CODEOWNERS:

# Global owners
* @tech-lead @senior-developer

# Domain layer
src/main/java/**/domain/ @domain-expert @business-analyst

# Application layer
src/main/java/**/application/ @application-architect @senior-developer

# Infrastructure layer
src/main/java/**/infrastructure/ @infrastructure-team @devops-team

# Adapter layer (hexagonal architecture)
src/main/java/**/adapter/ @adapter-specialist @integration-expert

# Configuration
src/main/resources/ @configuration-manager @devops-team

# Tests
src/test/ @qa-team @test-engineer

# Documentation
docs/ @tech-writers @documentation-team
README.md @tech-writers @tech-lead
*.md @tech-writers

# CI/CD
.github/ @devops-team @ci-cd-specialist
.github/workflows/ @devops-team @github-actions-expert

# Docker & Kubernetes
Dockerfile @devops-team @container-specialist
docker-compose.yml @devops-team @container-specialist
k8s/ @kubernetes-team @devops-team

# Maven configuration
pom.xml @build-engineer @dependency-manager
.mvn/ @build-engineer

# Security
.github/workflows/security.yml @security-team @devops-team

# Performance & Monitoring
src/main/java/**/monitoring/ @observability-team @performance-engineer
src/main/java/**/metrics/ @observability-team

# Actor System (Pekko)
src/main/java/**/actor/ @actor-system-expert @pekko-specialist
